@import "tailwindcss";

@theme {
  --color-zinc-100: #f4f4f5;
  --color-zinc-400: #a1a1aa;
  --color-zinc-700: #3f3f46;
  --color-silver-shine: linear-gradient(180deg, var(--color-zinc-100), var(--color-zinc-400), var(--color-zinc-700));
}
